zig-cache
zig-out
APP_README.md
# mock
tests/FLOWS_TEST.md
.vscode
zig-out-bkp
*node_modules*
./zig-cache
.zig-cache

dependencies/**

README_CONTRIB.md
.snippets
structs/snippet_old.zig
c_exports/main.zig
c_exports/oldbuild.zig
tests/snip.json
.DS_Store
*.tar.gz*
*.tgz*

podman/linux/zig-linux-*

!napi/lib/tests/mock/
napi/build
napi/static/lib
napi/package-lock.json
napi/node_modules
napi/docs/prebuilt/
napi/docs/BUILD.md
napi/docs/tests.md
napi/prebuilds/
napi/lib/prebuilds/

APPREADME.md
READMECONTRIB.md
