zig-cache
zig-out
APP_README.md
mock
tests/FLOWS_TEST.md

*node_modules*

.snippets
structs/snippet_old.zig
c_exports/main.zig
c_exports/oldbuild.zig
tests/snip.json
.DS_Store

podman/linux/zig-linux-*